  form {
    width: 75vmin;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 40px 0;
  }
  input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
  }
  ul {
    list-style: none;
    height: max-content;
    max-height: 50%;
    overflow-y: scroll;
  }
  .list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
   
  }
  .list-items {
    padding: 10px 5px;
    cursor: pointer;
  }
  .list-items:hover {
    background-color: #dddddd;
  }